@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

.app-container {
    border: 1px solid darkgrey;
    inset: 35px;
    position: absolute;
}

.dev-container {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-between;
    height: 100%;

}

.footer {
    color: whitesmoke;
    padding-right: 30px;
    align-self: flex-end;
    text-align: right;
}

.title {
    font-size: xxx-large;
    padding-bottom: 0;
}

.sub-title {
    padding-top: 0;
    padding-bottom: 30px;
}

.section-container {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 25px;
    margin-left: 30px;
    width: 60%;
    max-height: 40%;
    overflow: scroll;
}

.about {
    width: 40%;
}

.expertise-langs {
    width: 20%;
    overflow: scroll;
    align-self: flex-end;
    margin-right:12px;
}

.expertise-sub-section {
}


