body {
  display: flex; /* enable flexbox layout */
  justify-content: center; /* center content horizontally */
  align-items: center; /* center content vertically */
  font-family: 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  background-image: url("../public/bg6.jpg");
}

html {
  height: 100%;
  width:100%;
  backdrop-filter: blur(10px);
  color: black;

}
